<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        /* CSS for the sign up form */

        body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.forms {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 768px) {
  .forms {
    width: 70%;
    max-width: 400px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.title {

  display: inline-block;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.subtitle {
  display: block;
  font-size: 16px;
  margin-bottom: 20px;
}

.input {
  display: block;
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

button {
  display: block;
  margin: auto;
  width: 50%;
  padding: 10px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: #3e8e41;
}

.form-section {
  margin-top: 20px;
  text-align: center;
}

.form-section a {
  color: #4CAF50;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.2s ease;
}

.form-section a:hover {
  color: #3e8e41;
}

/* Media Queries */
@media only screen and (max-width: 600px) {
  .forms {
    max-width: 90%;
  }
}

    </style>
</head>
<body>
   
        <form class="forms" method="post">
            <span class="title">Sign up</span>
            <span class="subtitle">Create a free account with your email.</span>
            <div class="form-container">
              <input type="text" class="input" name="full-name" placeholder="Full Name" required="">
               <input type="email" class="input"  name="email" placeholder="Email" required="">
              <input type="password" class="input" name="password" placeholder="Password" required="">
            </div>
            <button>Sign up</button>
      
        <div class="form-section">
          <p>Have an account? <a href="/">Log in</a> </p>
        </div>
        </form>
</body>
</html>